.user-card {
  margin: 15px 15px;
  flex-direction: column;
  column-count: 5;
  height: 300px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  text-align: center;
  height: 80%;
}

.image-container img {
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* gradient on image for user info visibility */
.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height of the gradient as needed */
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  pointer-events: none;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.user-info-left {
  position: absolute;
  bottom: 12px;
  left: 16px;
  font-family: "Arial Black";
  color: white;
  z-index: 1;
}
.user-info-right {
  position: absolute;
  bottom: 12px;
  right: 16px;
  font-family: "Arial Black";
  color: white;
  z-index: 1;
}
