input{display: block;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 10px 5px grey;
    margin-top: 10px;
}
.form-control{
    padding-bottom: 40px;
    width: 100%;
}
.form-label{
    margin-bottom: 20px;
}
