body {
  font-family: "Arial Balck", "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Arial", "Arial Balck";
}

html,
body {
  margin: 0;
  padding: 0;
}
