.image-container-profile {
  width: 300px;
  border-radius: 20px;
  height: 100%;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.image-container-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.profile-detail {
  margin-left: 180px;
  margin-top: 70px;
  align-items: center;
}

.profile-detail-container {
  justify-content: start;
  align-items: start;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: start;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  flex-direction: column;
  padding: 50px;
  width: 70%;
  border-radius: 20px;
}

.row {
  display: flex;
  width: 100%;
}

.bio-container {
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 20px;
  padding: 20px;
  height: 32%;
  width: calc(100% - 70px);
  text-align: center;
}

.preferences-container {
  display: flex;
  flex-direction: row;
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 20px;
  background-color: rgb(26, 165, 158);
  /* gap: 20px; */
  /* padding: 10px; */
  width: 100%;
  padding-bottom: 40px;
  margin-top: 60px;
}

.icon-container {
  flex: 20%;
  text-align: center;
}

.icon-wrapper {
  display: block;
}

.preference-text,
.preference-value,
.icon-wrapper {
  display: block;
  margin-bottom: -10px;
  color: rgb(255, 255, 255);
}

.preference-value {
  font-size: 18px;
}

.title {
  text-align: center;
  font-size: 24px;
  width: 50%;
  position: relative;
}
.secondary-heading {
  width: 50%;
  padding: 0;
  margin-bottom: 20px;
  color: rgb(26, 165, 158);
}
