/* .image-container{
    width: 300px;
} */

.profile-image{
    width: 300px;
}

.profile-detail-container{
    justify-content: start;
    align-items: start;
    width: 50%;
    margin: 300px auto;
    display: flex;
    align-items: start;
    box-shadow: 0 0 10px 5px grey;
    flex-direction: column;
    padding: 50px;
}

.row{
    display: flex;
    width: 100%;
}

.preferences-container{
    flex-direction: column;
    margin-left: 25px;
}

.bio-container{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.icon-container{
    margin: 0 50px;
}
.preference-text, .preference-value, .icon-wrapper{
    display: inline-block;
    color: black;
}
.preference-text{
    margin: 0 50px 25px 25px;
}
.preference-value{
    font-size: 18px;
}
.icon-wrapper{
    width: 50px;
    color: #666666;
}
.title{
    text-align: center;
    font-size: 24px;
    width: 50%;
}
.secondary-heading{
    width: 50%;
    padding: 0;
    margin: 0;
}